body{
    

    background:linear-gradient(to bottom right, chartreuse,deepskyblue );
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.heading{
    font-size:25px;
    width:80%;
    color:darkgoldenrod;
    background:darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color:firebrick;
}
#camera{
    width:350px;
    height:300px;
    border:2px dashed black;
    color:green;
}